<img alt="Matias Cattaneo" height="1456" loading="eager" sizes="(min-width: 1440px) 1440px, 100vw" src="{{ 'assets/images/cattaneo-pic1-1440w.jpg' | relative_url }}" srcset="{{ 'assets/images/cattaneo-pic1-750w.jpg' | relative_url }} 750w, {{ 'assets/images/cattaneo-pic1-1440w.jpg' | relative_url }} 1440w, {{ 'assets/images/cattaneo-pic1-2880w.jpg' | relative_url }} 1643w" width="1440"/>
<h2>Matias D. Cattaneo</h2>
<p>Professor, <a href="https://orfe.princeton.edu">ORFE</a><br/>
Associated Faculty, <a href="https://spia.princeton.edu">SPIA</a><br/>
Associated Faculty, <a href="https://economics.princeton.edu">Economics</a><br/>
Associated Faculty, <a href="https://plas.princeton.edu">PLAS</a><br/>
Affiliated Faculty, <a href="https://ddss.princeton.edu/">DDSS</a><br/>
Affiliated Faculty, <a href="https://ai.princeton.edu">AI at Princeton</a><br/>
Affiliated Faculty, <a href="https://csml.princeton.edu">CSML</a></p>
<p><a href="https://cattaneo.princeton.edu/cv/cattaneo-cv.pdf">CV</a></p>

<a href="https://scholar.google.com/citations?user=TNdmZVEAAAAJ">
  <figure>
    <img alt="Google Scholar Logo" height="485" loading="lazy" src="{{ 'assets/images/google-scholar.png' | relative_url }}" width="491"/>
  </figure>
</a>
<a href="https://github.com/mdcattaneo">
  <figure>
    <img alt="Github Logo" height="240" loading="lazy" src="{{ 'assets/images/github.png' | relative_url }}" width="240"/>
  </figure>
</a>
<a href="https://www.linkedin.com/in/matias-d-cattaneo">
  <figure>
    <img alt="LinkedIn Logo" height="192" loading="lazy" src="{{ 'assets/images/linkedin.png' | relative_url }}" width="192"/>
  </figure>
</a>