    <footer role="contentinfo" class="footer" id="footer">
      <h2 class="sr-only">Footer</h2>
      <div class="container">
        <div class="region region-footer">
          <div class="constrained-bkg-constrained-content layout layout--threecol-33-34-33">
            <div class="layout-inner-container">
              <div class="layout__region layout__region--first layout__region--thirds layout__region--narrow">
                <div class="block-ps-text with-block-description block block-layout-builder block-inline-blockps-text">
                  <div class="clearfix text-formatted field field--name-field-ps-body field--type-text-long field--label-hidden field__item">
                    <p><a href="https://orfe.princeton.edu"><strong>Operations Research &amp; Financial Engineering</strong></a><br>
                    Sherrerd Hall, Charlton St, Princeton, NJ 08544<br>
                    609-258-0100</p>
                  </div>
                </div>
              </div>
              <div class="layout__region layout__region--second layout__region--thirds layout__region--narrow"></div>
              <div class="layout__region layout__region--third layout__region--thirds layout__region--narrow">
                <a href="http://www.princeton.edu" class="pu-logo" title="Princeton University">
                  <img src="{{ 'assets/images/pu-logo-stacked-white.svg' | relative_url }}" alt="Princeton University" />
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
