<footer role="contentinfo" id="footer">
<div class="container">
  <div class="footer-address"> <!-- Left-aligned on wide screens -->
    <p>
      <a href="https://orfe.princeton.edu"><strong>Operations Research &amp; Financial Engineering</strong></a><br>
      Sherrerd Hall, Charlton St, Princeton, NJ 08544<br>
      609-258-0100
    </p>
  </div>
  <div class="footer-logo"> <!-- Right-aligned on wide screens -->
    <a href="http://www.princeton.edu" title="Princeton University">
      <img src="{{ 'assets/images/pu-logo-stacked-white.svg' | relative_url }}" alt="Princeton University" />
    </a>
  </div>
</div>
</footer>
